body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.links a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #ff00b7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #0056b3;
}
